$primary-padding: 8px 12px;
$primary-color: whitesmoke;
$secundary-color: white;
$tercer-color: black;
$cuarto-color: rgb(191, 21, 21);
$quinto-color: azure;
$sexto-color: rgb(6, 249, 249);
$septimo-color: #0056b3;
$octavo-color: gray;
